html {
    font-family: Raleway, sans-serif;
}

.banner {
    padding: 1em 1em;
    width: 100%;
    background-color: darkgray;
    height: 50px;
    color: white;
}

.big {
    height: 100px;
    background-color: mediumblue;
}