html {
    font-family: Raleway, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%
    height: 100%;
}

.sometext {
    width: 66%;

}
.banner {
    text-align: center;
    padding: 0.3em 1em .7em;
    width: 98%;
    background-color: darkgray;
    height: auto;
    color: white;
}

.big {
    padding-top: 1.2em;
    padding-bottom: 1em;
    width: 98%;
    height: auto;
    background-color: rgb(90, 90, 142);
}

.item-list {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
/*and (orientation: portrait) */
{
    .banner {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
    .item-list {
        align-item: initial;
    }
    .sometext {
        font-size: 1.5em;
        width: 80%
    }
}